<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
